<mat-toolbar style="background-color: #ede4db;color :#C22B3E">
 
    <span class="cool-text">FATMA BEN SLIM</span>
    <span class="spacer"></span>
    <a style="color :#7F7F7F" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" mat-button [routerLink]="['/']">Home</a>
    <a style="color :#7F7F7F" routerLinkActive="active" mat-button [routerLink]="['/about']">About</a>
    <a style="color :#7F7F7F" routerLinkActive="active" mat-button [routerLink]="['/projects']" >Projects</a>
    <a style="color :#7F7F7F" routerLinkActive="active" mat-button [routerLink]="['/contact']">Contact</a>
  </mat-toolbar> 