<mat-card style="background-color: #E8D8C8;color :#A6886B"><p>Hello, I'm Fatma Ben Slim, a Fullstack Developer. Explore my projects, skills, and more!</p></mat-card>

<mat-card style="background-color: #E8D8C8;color :#FFFDFC"><p>Hello, I'm Fatma Ben Slim, a Fullstack Developer. Explore my projects, skills, and more!</p></mat-card>

<mat-card style="background-color: #E8CBC8;color :#A6716B"><p>Hello, I'm Fatma Ben Slim, a Fullstack Developer. Explore my projects, skills, and more!</p></mat-card>

<mat-card style="background-color: #E8CBC8;color :#FFFCFC"><p>Hello, I'm Fatma Ben Slim, a Fullstack Developer. Explore my projects, skills, and more!</p></mat-card>

<mat-card style="background-color: #7C8C8F;color :#436066"><p>Hello, I'm Fatma Ben Slim, a Fullstack Developer. Explore my projects, skills, and more!</p></mat-card>

<mat-card style="background-color: #7C8C8F;color :#DEE0E0"><p>Hello, I'm Fatma Ben Slim, a Fullstack Developer. Explore my projects, skills, and more!</p></mat-card>
