<!-- <mat-card class="image-card"> -->
  <mat-card class="welcome-card">
    <mat-card-header>
    </mat-card-header>
    <mat-card-content >
        <h1 >À PROPOS DE MOI</h1>
        <p>
          Bienvenue!
          Je m'appelle Fatma Ben Slim, développeuse Fullstack passionnée.
          <br>
          Grâce à mes expériences académiques et professionnelles, j'ai acquis une expertise en développement web, combinant des compétences solides en front-end (Angular, TypeScript) et en back-end (Spring Boot, Java).
          <br>
          Mon parcours est enrichi par des projets variés, que je vous invite à découvrir dans la partie projets. 
          J'accorde une grande importance à la rigueur, à l'apprentissage continu et à la collaboration.
           Mon objectif est de proposer des solutions innovantes tout en perfectionnant mes compétences.
        </p>

    </mat-card-content>
  </mat-card>
<!-- 
  <mat-card class="circular-card">
    <mat-card-content>
    </mat-card-content>
  </mat-card> -->
 
